body {
  margin: 0;
  font-family: 'cwTeXYen', sans-serif;
  font-size: 22px;
}

#main {
  font-size: 200px;
  margin-left: 350px !important;
  /*same as width of the sidenav */
  font-size: 30px;
  padding: 0px 10px;
}

.sidenav {
  top: 0;
  padding: 0;
  height: 100%;
  /*full height: remove this if you want auto height */
  width: 300px;
  /*width of sidebar*/
  position: fixed;
  /*fixed sidebar: stay on place on scroll*/
  background-color: #00FFFF;
  overflow: auto;
}

.sidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: block;
}

.sidenav a.active {
  background-color: #0000CD;
  color: white;
  font-size: 40px;
}

.sidenav a:hover:not(.active) {
  font-size: 40px;
  color: #0000CD;
  background-color: white;
}



@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidenav a {
    float: left;
    padding: 10px;
  }

  div#main {
    margin-left: 0;
  }
}

@media screen and (max-width: 300px) {
  .sidenav a {
    text-align: center;
    float: none;
    padding: 5px;
  }
}